<h1>Application Exemple</h1>

<p>
  C'est la page d'accuile pour l'application exemple du
  <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
  <a href="#" class="signup_button round">S'inscrire !</a>

</p>

<%= link_to "S'inscrire&nbsp;!", '#', :class => "signup_button round" %>
