<<<<<<< HEAD
<h1>Sample App</h1>
=======
<h1>Application Exemple</h1>
>>>>>>> filling-in-layout

<p>
  C'est la page d'accuile pour l'application exemple du
  <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
  <a href="#" class="signup_button round">S'inscrire !</a>

</p>

<<<<<<< HEAD
<%= link_to "Sign up now!", signup_path , :class => "signup_button round" %>

=======
<%= link_to "S'inscrire&nbsp;!", '#', :class => "signup_button round" %>
>>>>>>> filling-in-layout
